* {
	padding:0;
	margin:0;
}

.container {
	background-image: url("../img/drwho.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 590px;
	padding: 220px 0px 0px 0px;
}

form {
	background-color: rgba(0,21,103,0.3);
	width: 80%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0px;
	border-radius: 0.2em;
	border: 0.1px solid #FFCC66;
	box-shadow: 1px 1px 50px #000;
}

.pad {
	margin-top:20px;
	border-radius: 0.2em;
}

.lab {
	font-family: sans-serif;
	color: #FFFFFF;
	font-size: 2em;
}

.inp {
	padding: 10px 5px;
	border: 0px;
	width: 30%;
	font-size: 1em;
	color: rgb(0,21,103);
}

button {
	background-color: #0080FF;
    border: none;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
    font-size: 1em;
}
